---
http_interactions:
- request:
    method: get
    uri: https://www.mountainproject.com/data/get-routes-for-lat-lon?key=200920810-f5cf8967c08269ef5573b1768913b198&lat=39.749672&lon=-105.216019&maxDistance=25&maxResults=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 4da51507-7791-4ac3-9e85-b444194a839e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "routes": [
                {
                    "id": 105748786,
                    "name": "The Naked Edge",
                    "type": "Trad",
                    "rating": "5.11b",
                    "stars": 4.9,
                    "starVotes": 345,
                    "pitches": 6,
                    "location": [
                        "Colorado",
                        "Boulder",
                        "Eldorado Canyon SP",
                        "Redgarden Wall",
                        "Redgarden - Tower Two"
                    ],
                    "url": "https:\/\/www.mountainproject.com\/route\/105748786\/the-naked-edge",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_sqsmall_1494354956.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_small_1494354956.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_smallMed_1494354956.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_medium_1494354956.jpg",
                    "longitude": -105.2852,
                    "latitude": 39.9312
                },
                {
                    "id": 105748657,
                    "name": "The Yellow Spur",
                    "type": "Trad",
                    "rating": "5.9+",
                    "stars": 4.8,
                    "starVotes": 1001,
                    "pitches": 6,
                    "location": [
                        "Colorado",
                        "Boulder",
                        "Eldorado Canyon SP",
                        "Redgarden Wal[...]
