---
http_interactions:
- request:
    method: get
    uri: https://www.mountainproject.com/data/get-routes-for-lat-lon?key=200920810-f5cf8967c08269ef5573b1768913b198&lat=39.749672&lon=-105.216019&maxDistance=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 8f63f343-cfcb-4848-ab16-64f21e4af89c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "routes": [
                {
                    "id": 105748496,
                    "name": "Casual Route",
                    "type": "Trad, Alpine",
                    "rating": "5.10a",
                    "stars": 4.8,
                    "starVotes": 519,
                    "pitches": 7,
                    "location": [
                        "Colorado",
                        "Alpine Rock",
                        "RMNP - Rock",
                        "Long's Peak",
                        "The Diamond"
                    ],
                    "url": "https:\/\/www.mountainproject.com\/route\/105748496\/casual-route",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/105914128_sqsmall_1557941406.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/105914128_small_1557941406.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/climb\/105914128_smallMed_1557941406.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/climb\/105914128_medium_1557941406.jpg",
                    "longitude": -105.6138,
                    "latitude": 40.2562
                },
                {
                    "id": 105748786,
                    "name": "The Naked Edge",
                    "type": "Trad",
                    "rating": "5.11b",
                    "stars": 4.9,
                    "starVotes": 345,
                    "pitches": 6,
                    "location": [
                        "Colorado",
                        "Boulder",
                        "Eldorado Canyon SP",
                        "Redgarden Wall[...]
