---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600585763,"sunrise":1600605971,"sunset":1600650010,"temp":289.03,"feels_like":284.4,"pressure":1018,"humidity":26,"dew_point":269.98,"uvi":6.76,"clouds":20,"visibility":10000,"wind_speed":3.1,"wind_deg":180,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1600585200,"temp":289.03,"feels_like":285.35,"pressure":1018,"humidity":26,"dew_point":269.98,"clouds":20,"visibility":10000,"wind_speed":1.75,"wind_deg":29,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0.07},{"dt":1600588800,"temp":291.36,"feels_like":287.65,"pressure":1017,"humidity":28,"dew_point":272.64,"clouds":29,"visibility":10000,"wind_speed":2.34,"wind_deg":64,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.07},{"dt":1600592400,"temp":291.76,"feels_like":287.23,"pressure":1016,"humidity":32,"dew_point":274.76,"clouds":24,"visibility":10000,"wind_speed":3.98,"wind_deg":130,"weather":[{"id":801,"main":"Clouds","description":"few
      [...]
