---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600563281,"sunrise":1600519516,"sunset":1600563710,"temp":298.3,"feels_like":294.62,"pressure":1016,"humidity":13,"dew_point":268.55,"uvi":7.04,"clouds":1,"visibility":10000,"wind_speed":1.5,"wind_deg":280,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600560000,"temp":298.3,"feels_like":295.02,"pressure":1016,"humidity":13,"dew_point":268.55,"clouds":1,"visibility":10000,"wind_speed":0.92,"wind_deg":100,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.24,"rain":{"1h":0.25}},{"dt":1600563600,"temp":299.44,"feels_like":293.22,"pressure":1014,"humidity":15,"dew_point":271.05,"clouds":6,"visibility":10000,"wind_speed":5.58,"wind_deg":167,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.72},{"dt":1600567200,"temp":298.61,"feels_like":292.02,"pressure":1014,"humidity":21,"dew_point":274.71,"clouds":7,"visibility":10000,"wind_speed":6.92,"wind_deg":172,"weather":[{"id":800,"main":"Clear","description":"clear
       [...]
