---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=a9SizvvZcvqNXoSYCp_h_gH_9258e0RE4Fw2e67QrrE&query=denver,co,landmark
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=a9SizvvZcvqNXoSYCp_h_gH_9258e0RE4Fw2e67QrrE&page=416&query=denver%2Cco%2Clandmark>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=a9SizvvZcvqNXoSYCp_h_gH_9258e0RE4Fw2e67QrrE&page=2&query=denver%2Cco%2Clandmark>;
        rel="next"
      X-Total:
      - '4152'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":4152,"total_pages":416,"results":[{"id":"chaqHXlOzYs","created_at":"2018-02-23T17:18:23-05:00","updated_at":"2020-09-21T01:06:12-04:00","promoted_at":null,"width":6000,"height":4000,"color":"#EC956C","description":"Walking
        the streets of downtown Denver on a foggy, freezing cold day.","alt_description":"woman
        walking on street near SUV during daytime","urls":{"raw":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2Nzk0NX0","full":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2Nzk0NX0","regular":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2Nzk0NX0","small":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2Nzk0NX0","thumb":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2Nzk0NX0"},"links":{"self":"https://api.unsplash.com/photos/chaqHXlOzYs","html":"https://unsplash.com/photos/chaqHXlOzYs","download":"https://unsplash.com/photos/chaqHXlOzYs/download","download_location":"https://api.unsplash.com/photos/chaqHXlOzYs/download"},"categories":[],"likes":124,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"R9wpgxVwO48","updated_at":"2020-08-30T20:02:39-04:00","username":"owencavlys","name":"Owen
        Lystrup","first_name":"Owen","last_name":"Lystrup","twitter_username":"owen_lystrup","portfolio_url":"https://owenlystrup.com","bio":"**Top
        10% Contributor on Unsplash**\r\n\r\nPhotographer, writer, editor, videographer,
        content producer. \r\n\r\nSee more of my photography here: instagram.com/@owencavlys/\r\n\r\nSee
        my writing here:\r\nmedium.com/cisco-shifted","location":"Denver, by way of
        Mojave, San Francisco, and Los Angeles","links":{"self":"https://api.unsplash.com/users/owencavlys","html":"https://unsplash.com/@owencavlys","photos":"https://api.unsplash.com/users/owencavlys/photos","likes":"https://api.unsplash.com/users/owencavlys/likes","portfolio":"https://api.unsplash.com/users/owencavlys/portfolio","following":"https://api.unsplash.com/users/owencavlys/following","followers":"https://api.unsplash.com/users/owencavlys/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"owencavlys","total_collections":0,"total_likes":185,"total_photos":22,"accepted_tos":true},"tags":[{"type":"landing_page","title":"car","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"things","pretty_slug":"Things"},"subcategory":{"slug":"car","pretty_slug":"Car"}},"title":"Car
        Images & Pictures","subtitle":"Download free car images","description":"Choose
        from a curated selection of car photos. Always free on Unsplash.","meta_title":"Best
        500+ Car Photos [Spectacular] | Download Car Images & Pictures - Unsplash","meta_description":"Choose
        from hundreds of free car pictures. Download HD car photos for free on Unsplash.","cover_photo":{"id":"m3m-lnR90uM","created_at":"2017-04-14T00:59:12-04:00","updated_at":"2020-08-21T01:15:44-04:00","promoted_at":"2017-04-14T13:20:15-04:00","width":5357,"height":3164,"color":"#E0E4EF","description":"I
        shot this while doing a job for a luxury automotive storage facility in Baltimore,
        MD. I wanted to create an ominous sense of intrigue, giving the feeling of
        a space that was both expansive and enclosed. I enjoy the journey my eyes
        take from the focal point of t[...]
